.ad{

width:100%;

max-width:728px;

height:90px;

margin:30px auto;


display:flex;

align-items:center;

justify-content:center;


background:
rgba(255,255,255,.08);


border-radius:20px;


border:
1px dashed rgba(255,255,255,.3);


}



#cookieBox{

position:fixed;

bottom:20px;

left:50%;

transform:translateX(-50%);


width:90%;

max-width:500px;


padding:20px;


background:
rgba(0,0,0,.8);


border-radius:20px;


backdrop-filter:blur(15px);


display:none;


text-align:center;

z-index:999;


}


#cookieBox button{

margin-top:10px;

}
